.exercise {
    border-color: #b51f1f;
}
/* .admonition.note .admonition-title:before {color:white} */
.exercise .admonition-title:before {
    color: #b51f1f;;
    content: '\f059';}

.exercise .admonition-title{
    background-color: #e6e6e6;
    color:#212121
}

